body {
    margin: 66px 10px 10px;
}
#game {
    width: 50%;
    height: 100%;
    margin: 10%;
    grid-area: game;
}

#log {
    min-width: 200px;
    width: 50%;
    height: 100%;
    background-color: black;
    color: red;
    margin: 10%;
    grid-area: log;
}

.input-div{
    margin-left: 10%;
    max-width: 800px;
    margin-top: 10px;
    grid-area: input;
}
.comands{
    font-size: 15px;
}
.comands p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
#input {
    border: #343a40 solid 1.5px;
    height: 50px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.canvas-console {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "game log"
                         "input .";
    margin-left: 10px;;
    margin-right: 20%;
}
.h1, h1 {
    margin-right: 90px;
    font-size: 2.5rem;
}
.h2, h2 {
    font-size: 2rem;
    margin-right: auto;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}